.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 垂直方向の開始位置に配置 */
  min-height: 80vh;
  padding-top: 10vh;
  text-align: center;
}

.center-content h1 {
  margin-bottom: 20px;
}

.center-content .btn {
  margin-bottom: 20px;
}

.center-content ul {
  list-style-type: none;
  padding: 0;
}

.center-content ul li {
  margin: 10px 0;
}

.center-content ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.center-content ul li a:hover {
  color: #007BFF;
}