<!DOCTYPE html>
<html>
<head>
  <title>近くの病院を探す</title>
  <style type="text/css">
    #map {
      height: 100vh;
      width: 100%;
    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= @api_key %>&libraries=places" loading="async"></script>
  <script type="module">
    import initMap from "initMap";
    initMap();
  </script>
  <script>
    console.log('確認')
  </script>
</head>
<body>
  <h1>近くの病院を探す</h1>
  <div id="map"></div>
</body>
</html>