<h1><%= @user.user_name %>さんのマイページ</h1>

<h2>患者一覧</h2>
<%= link_to '新しい患者を追加', new_user_patient_path(@user), class: 'btn' %>

<ul>
  <% @patients.each do |patient| %>
    <li>
      <%= link_to patient.patient_name, user_patient_path(@user, patient) %>
    </li>
  <% end %>
</ul>